<%- include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a id="blogLogo" class="navbar-brand" href="http://localhost:3000/">Blogrealm</a>
</nav>

<div class="container-fluid paddingZero">
	<img src="/images/SMALLS.jpg" height="200" width="100%" />
</div>

<div class="container">
	<div class="row">
		<h1 class="col-10"><%= blogger.blogName %></h1>
		<form action="/blog/<%= blogger._id %>" method="POST" class="col-2 text-center paddingTop">
			<div>
				<button class="btn btn-primary btn-block" type="submit"><%= certify %></button>
			</div>
		</form>
	</div>
	<div class="row marginSpace">
		<h5 class="col-2">Followers: <%= followers %></h5>
		<h5 class="col-2">Following: <%= following %></h5>
	</div>

	<hr>

	<div class="container d-flex flex-wrap morePadding">
		<% blogger.merchandise.forEach(merch => { %>
			<div class="container smallContainer2">
				<div class="row">
					<h6><%= merch.nameOfMerch %></h6>
				</div>
				<div class="row">
					<a class="anchorStyle" href="/merchandise/<%= merch._id %>">
						<img src="/<%= merch.file %>" height="100" width="100"/>
					</a>
				</div>
				<div class="row paddingLeft">
					<h6>$<%= merch.price %></h6>
				</div>
			</div>
		<% }) %> 
	</div>

	<hr>

	<div class="container d-flex flex-wrap">
		
			<% blogger.listOfWorks.forEach(work => { %>
				<div class="container smallContainer4">
					<div class="row">
						<a class="anchorStyle" href="/dashboard/<%= work._id %>">
							<img src="/<%= work.file %>" height="200" width="200" />
						</a>
					</div>
					<div class="row marginBottom1">
						<h5><%= work.title %></h5>
					</div>
					<div class="row height">
						<form class="form col-4" action="/blog/<%= blogger._id %>/<%= work._id %>" method="POST">
							<button class="noButton" type="submit">
								<i class="fa fa-book fa-lg" aria-hidden="true" style="color: purple;"></i>
							</button>
						</form>
						<h6 class="col-8"><%= likes %></h6>
					</div>
					<div class="row height" style="background-color: orange">
						<i class="fa fa-scissors fa-lg col-4" aria-hidden="true" style="color: red;"></i>
					</div>
					<div class="row height" style="background-color: silver;">
						<i class="fa fa-comments-o fa-lg col-4" aria-hidden="true" style="color: royalblue;"></i>
					</div>
				</div>
			<% }) %> 
		
	</div>
</div>
<%- include("partials/footer") %>
