<%- include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a id="blogLogo" class="navbar-brand" href="http://localhost:3000/">Blogrealm</a>

	<ul class="navbar-nav mr-auto">
		<li class=""></li>
	</ul>

	<form action="/login" method="GET" class="mr-3">
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
	<form action="/createBlogger" method="GET">
		<button class="btn btn-primary" type="submit">Create an account</button>
	</form>
</nav>

<div class="container">
	<div class="row blogTitle">
		<h1>Blogrealm</h1>
	</div>
</div>

<div class="container marginSpace">
	<div class="row">
		<form action="/" method="POST" class="form-inline moreWidth">
			<input id="searchBlog" name="search" class="col-md-7 form-control" type="text" placeholder="Search Blog Page" />
			<div class="col-md-3"></div>
			<button id="searchButton" class="col-md-2 btn btn-primary btn-block" type="submit">Search</button>
		</form>
	</div>
</div>
<div class="container">
	<div class="row">
		<hr class="col" id="contentDivider" />
	</div>
</div>

<div class="container d-flex flex-wrap">
	<% searchItems.forEach(searchItem => { %>
		<div class="container smallContainer3">
			<a href="blog/<%= searchItem._id %>">
				<img src="<%= searchItem.file %>" height="225" width="225"/>
				<h5><%= searchItem.blogName %></h5>
			</a>
		</div>
	<% }); %>   
</div>
<%- include("partials/footer") %>
