<%- include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a id="blogLogo" class="navbar-brand" href="http://localhost:3000/">Blogrealm</a>

	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:3000/dashboard">Dashboard</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="#">Merchandise</a>
		</li>
	</ul>
	<form class="mr-3">
		<h6><a href="http://localhost:3000/createmerch">Upload Merchandise</a></h6>
	</form>
	<form class="mr-3">
		<h6>Name of the Blogger</h6>
	</form>
	<form class="form-inline">
		<button class="btn btn-primary btn-block" type="button">Log Out</button>
	</form>
</nav>

<div class="container">
	<div class="row merchTitle">
		<h1>Merch</h1>
	</div>
</div>

<div class="container d-flex flex-wrap">
	<% merchandises.forEach(merchandise => { %>
		<div class="container smallContainer">
			<a class="anchorStyle" href="merchandise/<%= merchandise._id %>" >
				<div class="row">
					<h3><%= merchandise.nameOfMerch %></h3>
				</div>
				<div class="row">
					<img src="<%= merchandise.file %>" height="250" width="250" />
				</div>
			</a>
			<div class="row">
				<h5 class="col-md-5">$<%= merchandise.price %></h5>
				<div class="col-md-2"></div>
				<h5 class="col-md-5">Stk: <%= merchandise.quantity %></h5>
			</div>
		</div>
	<% }) %> 
</div>
<%- include("partials/footer") %>
