<%- include("partials/header") %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="blogLogo" class="navbar-brand" href="/">Blogrealm</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/merchandise">Merchandise</a>
            </li>
        </ul>
    </nav>

    <div class="container merchDetails">
        <div class="media detailStyle">
            <img src="/<%= product.file %>" class="mr-3 align-self-center" height="250" width="250" />
            <div class="media-body">
                <h5 class="mt-0"><%= product.nameOfMerch %></h5>
                <%= product.description %> 
                <div class="row marginSpace">
                    <h6 class="col">$ <%= product.price %></h6>
                    <h6 class="col text-center">Qty: <%= product.quantity %></h6>
                </div>
                <button class="btn btn-primary btn-block marginSpace3">Buy</button>
            </div>
        </div>
    </div>
<%- include("partials/footer") %> 